html,
body,
#root, #app_window    {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}


#root .lm_content {
  overflow: auto;
}


.valued-object {
  position: relative;
  width:100%;
  background-color: rgba(0, 0, 0, 0);
}

.valued-object.selected {
  background-color: rgba(255, 255, 255, 0.5);
}


.valued-object .title {
  display:inline-block;
  margin:0.5em;
  padding:0.5em;
  color: white;
  max-width: 70%;
}

.valued-object img {
  display:inline-block;
}

.inspector-fields label, 
.inspector-fields input {
  color:white;
}



