
@import '../node_modules/@blueprintjs/core/lib/css/blueprint.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*
::-webkit-scrollbar { 

  color:#fff; background-color: #f0f; 


 }

 ::-webkit-scrollbar-track        {   color:#fff; background-color: #f0f; }
::-webkit-scrollbar-track-piece  {  color:#f0f; background-color: #f0f;}

::-webkit-scrollbar-button       {  color:#f00; background-color: #00f; }
::-webkit-scrollbar-thumb        {  color:#ff0; background-color: #0ff;}
::-webkit-scrollbar-corner       { background-color: #ff0; }
::-webkit-resizer                { background-color: #4f4; }
*/

